@{
    ViewData["Title"] = "Home Page";
    List<string>? names = ViewData["Student"] as List<string>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (names is not null)
        @foreach (string name in names)
        {
            <p class="">@name</p>
        }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

